[build]
  command = "npm run build"
  publish = ".next"

[[redirects]]
  from = "/*"
  to = "/404"
  status = 404

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200

[context.production.environment]
  NEXT_PUBLIC_DEPLOYMENT_URL = "production-url"
